<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Explorer AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="container">
    <div class="sidebar">
        <h2>🌍 Explorer</h2>
        <button class="menu-btn active" onclick="showChat()">
            <i class="fa-solid fa-comments"></i>
            Chat
        </button>
        <button class="menu-btn" onclick="showFavorites()">
            <i class="fa-solid fa-heart"></i>
            Favorites
        </button>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Place Explorer AI</h1>
            <p>
                Discover real places around the world.
            </p>
        </div>
        <div id="chatSection">
            <div class="chat-box" id="chatBox">
                <div class="message bot">
                    <span>
👋 Welcome to <b>Place Explorer AI</b>

Ask me anything like:

🏰 Top 5 Haunted Places in India

🏔 Beautiful Mountains

🏝 Hidden Beaches

🕌 Historical Monuments

🌋 Volcanoes
                    </span>
                </div>
            </div>
            <div class="input-area">
                <input
                    type="text"
                    id="userInput"
                    placeholder="Ask about any place..."
                >
                <button onclick="sendMessage()">
                    Explore
                </button>
            </div>
        </div>
        <div id="favoritesSection" style="display:none;">
            <div class="favorites-title">
                My Favorite Places
            </div>
            <div id="favoritesList">
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>